@import 'mixins';

/*------------------------------------*\
  #FORM STYLES
/*------------------------------------*/

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
textarea {
    display: inline-block;
    height: $input-height;
    line-height: $input-height - $input-border-width;
    outline: 0;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    border: $input-border-width solid $primary-color;
    border-radius: 1px;
    padding: 0 15px;

    &:focus {
        box-shadow: 0 0 3px 1px $secondary-color;
    }

    &:disabled {
        opacity: 0.5;
    }
}

textarea {
    max-width: 100%;
    min-height: 150px;
}

input[type="checkbox"],
input[type="radio"] {
    @include vhidden;

    & + * {
        cursor: pointer;
        line-height: $input-height / 2;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            height: $input-height / 2;
            width: $input-height / 2;
            border: $input-border-width solid $primary-color;
        }

        &:after {
            @include transform(scale(0));
            position: absolute;
            content: '';
            top: 3px;
            left: 3px;
            height: $input-height / 2 - 6;
            width: $input-height / 2 - 6;
            background-color: $primary-color;
            transition: transform .15s ease-in-out;
        }

        &:hover:before {
            border-color: $primary-color
        }
    }

    &:checked + *:after {
        @include transform(scale(1));
    }
}

input[type="radio"] {
    & + *:after,
    & + *:before {
        border-radius: 50%
    }
}

.button,
button,
input[type="submit"],
input[type="button"] {
    background-color: $primary-color;
    color: #fff;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    border-radius: 1px;
    line-height: $input-height;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    outline: 0;
    box-sizing: border-box;
    text-align: center;
    &:focus,
    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
    }
    @include break(mobile-min) {
        width: 100%;
    }
}

/*------------------------------------*\
  #SELECTMENU (jQuery UI)
/*------------------------------------*/

select {
    @include hidden;
    width: 100%;
}

.ui-selectmenu-button {
    position: relative;
    display: inline-block;
    height: $input-height;
    line-height: $input-height - $input-border-width;
    outline: 0;
    width: 100% $i;
    vertical-align: middle;
    background-color: #fff;
    border: $input-border-width solid $primary-color;
    border-radius: 1px;
    padding: 0 35px 0 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.ui-selectmenu-button .ui-icon {
    position: absolute;
    right: 15px;
    &:before {
        content: '\2193'
    }
}

.ui-selectmenu-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    &.ui-selectmenu-open {
        display: block
    }
    ul {
        @include menu;
        border: $input-border-width solid $primary-color;
        margin-top: -$input-border-width;
        background-color: #fff;
        overflow: auto;
        overflow-x: hidden;
    }

    li {
        border-bottom: 1px solid $secondary-color;
        cursor: pointer;
        padding: 0 15px;
        line-height: $input-height - $input-border-width;
        &:last-of-type {
            border-bottom: 0;
        }
    }

    li.ui-state-focus {
        background-color: $secondary-color;
    }
}

/*------------------------------------*\
  #WORDPRESS
/*------------------------------------*/

span.wpcf7-list-item {
    margin: 0;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    margin: 5px auto 5px auto;
    display: block;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
    &.alignnone {
        margin: 5px 20px 20px 0;
    }
    &.alignleft {
        margin: 5px 20px 20px 0;
    }
    &.alignright {
        margin: 5px 0 20px 20px;
    }
    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute $i;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:focus {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        background-color: #f1f1f1;
        border-radius: 3px;
        clip: auto $i;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
}

.admin-bar {
    padding-bottom: 32px;

    @include break(tablet-min) {
        padding-bottom: 46px;
    }
}

#wpadminbar {
    top: auto;
    bottom: 0;
    position: fixed;
}

#wpadminbar .menupop .ab-sub-wrapper {
    bottom: 100%;
    box-shadow: none;
}