$i: !important;

$mobile-min-width: 420px;
$mobile-max-width: 640px;
$tablet-min-width: 767px;
$tablet-max-width: 991px;
$desktop-min-width: 1199px;

$primary-color: #000;
$secondary-color: #bbbbbb;

$input-height: 36px;
$input-border-width: 1px;
